<!DOCTYPE html>
<html 
xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="https://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security </title>
    </head>
    <body>
        <div th:if="${param.error}">
            Opa! Seu usuário ou senha está invalida.
        </div>
        <div th:if="${param.logout}">
            Você foi desconectado.
        </div>
        <br>
        <form th:action="@{/login}" method="post">
            <div><label> Nome de usuário : <input type="text" name="username"/> </label></div>
            <div><label> Senha: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="logar"/></div>
        </form>
    </body>
</html>